forecast_2015/*.png
forecast_2016/*.png
Forecast_Images_2016/svg2png
Forecast_Images_2016/tt
Forecast_Images_2016_ds/
hourly_2015/*.png
hourly_2016/*.png
Acc_Output_of_the_script.ods
Acc_README.odt
What_Is_What.odt
curr_cond
curr_cond_raw
daily_forecast
hourly
hourly_raw1
hourly_raw2
altogether24
altogether24_2015
altogether24_2016
